services:
  # Прокси для трекеров (включая LostFilm)
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=America/Los_Angeles
    volumes:
      - ./config/jackett:/config
    ports:
      - 9117:9117
    restart: unless-stopped

  # Торрент-клиент
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=America/Los_Angeles
      - WEBUI_PORT=8080
    volumes:
      - ./config/qbittorrent:/config
      - ./data/torrents:/data/torrents
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped

  # Менеджер сериалов
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=America/Los_Angeles
    volumes:
      - ./config/sonarr:/config
      - ./data:/data # Sonarr должен видеть и папку загрузок, и папку назначения
    ports:
      - 8989:8989
    depends_on:
      - jackett
      - qbittorrent
    restart: unless-stopped
